$black: #000;
$white: #fff;
@import "./light/light-theme";

// Light standanrd
/*

$red:;
$orange:;
$yellow:;
$green:;
$mint:;
$teal:;
$cyan:;
$blue:;
$indigo:;
$purple:;
$pink:;
$brown:;
$gray:;
$label-primary:;
$label-secondary:;
$label-tertiary:;
$label-quaternary:;

*/

// light vibrant standard
// light increased contrast
// Light Vibrant Increased Contrast
