$l-i-c-red: rgba(215, 0, 21);
$l-i-c-orange: rgba(201, 52, 0);
$l-i-c-yellow: rgba(160, 90, 0);
$l-i-c-green: rgba(0, 125, 27);
$l-i-c-mint: rgba(12, 129, 123);
$l-i-c-teal: rgba(0, 130, 153);
$l-i-c-cyan: rgba(0, 113, 164);
$l-i-c-blue: rgba(0, 64, 221);
$l-i-c-indigo: rgba(54, 52, 163);
$l-i-c-purple: rgba(173, 68, 171);
$l-i-c-pink: rgba(211, 15, 69);
$l-i-c-brown: rgba(127, 101, 69);
$l-i-c-gray: rgba(105, 105, 110);
$l-i-c-label-primary: rgba(0, 0, 0, 1);
$l-i-c-label-secondary: rgba(0, 0, 0, 0.76);
$l-i-c-label-tertiary: rgba(0, 0, 0, 0.56);
$l-i-c-label-quaternary: rgba(0, 0, 0, 0.35);
