$l-std-red: #ff3b30;
$l-std-orange: #ff9500;
$l-std-yellow: #ffcc00;
$l-std-green: #28cd41;
$l-std-mint: #00c7be;
$l-std-teal: #59adc4;
$l-std-cyan: #55bef0;
$l-std-blue: #007aff;
$l-std-indigo: #5856d6;
$l-std-purple: #af52de;
$l-std-pink: #ff2d55;
$l-std-brown: #a2845e;
$l-std-gray: #8e8e93;

$l-std-label-primary: rgba(0, 0, 0, 0.85);
$l-std-label-secondary: rgba(0, 0, 0, 0.5);
$l-std-label-tertiary: rgba(0, 0, 0, 0.25);
$l-std-label-quaternary: rgba(0, 0, 0, 0.1);
