$l-v-i-c-red: rgba(194, 6, 24);
$l-v-i-c-orange: rgba(173, 58, 0);
$l-v-i-c-yellow: rgba(146, 81, 0);
$l-v-i-c-green: rgba(0, 112, 24);
$l-v-i-c-mint: rgba(11, 117, 112);
$l-v-i-c-teal: rgba(0, 119, 140);
$l-v-i-c-cyan: rgba(0, 103, 150);
$l-v-i-c-blue: rgba(0, 64, 221);
$l-v-i-c-indigo: rgba(54, 52, 163);
$l-v-i-c-purple: rgba(173, 68, 171);
$l-v-i-c-pink: rgba(193, 16, 50);
$l-v-i-c-brown: rgba(119, 93, 59);
$l-v-i-c-gray: rgba(97, 97 ,101);
$l-v-i-c-label-primary: rgba(0, 0, 0, 1);
$l-v-i-c-label-secondary: rgba(0, 0, 0, 0.76);
$l-v-i-c-label-tertiary: rgba(0, 0, 0, 0.56);
$l-v-i-c-label-quaternary: rgba(0, 0, 0, 0.35);
