$l-v-std-red: rgba(255, 49, 38);
$l-v-std-orange: rgba(245, 139, 0);
$l-v-std-yellow: rgba(245, 194, 0);
$l-v-std-green: rgba(30, 195, 55);
$l-v-std-mint: rgba(0, 189, 180);
$l-v-std-teal: rgba(46, 167, 189);
$l-v-std-cyan: rgba(65, 175, 220);
$l-v-std-blue: rgba(0, 112, 245);
$l-v-std-indigo: rgba(84, 82, 204);
$l-v-std-purple: rgba(159, 75, 201);
$l-v-std-pink: rgba(245, 35, 75);
$l-v-std-brown: rgba(152, 122, 84);
$l-v-std-gray: rgba(132, 132, 137);

$l-v-std-label-primary: rgba(76, 76, 76);
$l-v-std-label-secondary: rgba(128, 128, 128);
$l-v-std-label-tertiary: rgba(191, 191, 191);
$l-v-std-label-quaternary: rgba(230, 230, 230);
